/* style.css */
body {
  background-color: #c5840b;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-family: 'Playfair Display', serif;
  color: #fff;
  margin-bottom: 20px;
}

form {
  background-color: #fafafa;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.form-control {
  text-align: left;
  margin-bottom: 25px;
}

.form-control label {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  color: #333;
}

.form-control input,
.form-control select,
.form-control textarea {
  border: 1px solid #777;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: inherit;
}

.form-control input[type="radio"],
.form-control input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin-right: 10px;
}

button {
  background-color: #25c405;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  font-size: 21px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

button:hover {
  background-color: #218a04;
}

.pop-up {
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
}

.open-pop {
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.fa-circle-check {
  color: #6fd649;
  font-size: 7rem;
  margin-top: -50px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.pop-up h2 {
  font-size: 38px;
  font-weight: 600;
  margin: 30px 0 10px;
}

.pop-up button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background-color: #6fd649;
  color: #fff;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

/* Hide feedback messages by default */
.valid-feedback,
.invalid-feedback {
  display: none;
}

/* Show valid feedback when form is validated and the input is valid */
.was-validated .valid-feedback {
  display: block;
}

/* Show invalid feedback when form is validated and the input is invalid */
.was-validated .invalid-feedback {
  display: block;
}

/* Styling for valid inputs */
.was-validated .form-control input:valid,
.was-validated .form-control select:valid,
.was-validated .form-control textarea:valid {
  border-color: #28a745; /* Green border for valid inputs */
}

/* Styling for invalid inputs */
.was-validated .form-control input:invalid,
.was-validated .form-control select:invalid,
.was-validated .form-control textarea:invalid {
  border-color: #dc3545; /* Red border for invalid inputs */
}
